<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/css/style.css" />
  <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
  </style>
</head>
<body>
  <h1>Let's Talk Plants!</h1>
  <ul>
    <% for (let i = 0; i < plants.length; i++) {%>
      <li>
        <a href="/plants/<%=plants[i].id%>">
          <%=plants[i].name; %>
        </a>
        <%=plants[i].color; %>.
          <% if(plants[i].sunnySpot === true){ %>
            give it some sunshine
            <% } else { %>
              give it some shade
              <% } %>
                <form method="POST" action="/plants/<%=plants[i].id%>?_method=DELETE">
                  <input type="submit" value="DELETE">
                </form>
                <a href="/plants/<%=plants[i].id%>/edit"><button>Edit</button></a>
      </li>
      <% } %>
  </ul>
  <nav>
    <a href="/plants/new">Create a New Plant</a>
  </nav>
</body>

</html>
